img {
    display: block;
    border-radius: 4px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

h1{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 56px;
    line-height: 69px;
    color: var(--base-color-header);
}

h2{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 40px;
    line-height: 49px;
    color: var(--base-color-header);
}

h3{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 29px;
}

.primary-m-btn {
    width: 100%;
    padding: 13px 0;
    color: #ffffff;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    border: none;
    background-color: var(--base-color-header);
    transition: background-color var(--transition-duration);
}

@media (hover: hover) {
    .primary-m-btn:hover {
        background-color: var(--base-color);
    }
}

.primary-m-btn:active {
    background-color: #807F86;
}

.outline-l-btn {
    width: 240px;
    padding: 14px 0;

    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    transition: background-color var(--transition-duration), border var(--transition-duration);
}

.outline-l-btn .icon-active {
    display: none;
}

@media (hover: hover) {
    .outline-l-btn:hover {
        color: var(--base-color-header);
        background-color: var(--base-background-color);
    }
    
    .outline-l-btn:hover .icon-default {
        display: none;
    }
    
    .outline-l-btn:hover .icon-active {
        display: initial;
    }    
}

.outline-l-btn:active {
    border: 1px solid var(--base-color-header);
    background-color: var(--border-color);
}

.outline-m-btn {
    width: 170px;
    padding: 14px 0;

    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    transition: background-color var(--transition-duration);
}

.default-field {
    border-radius: 4px;
    width: 100%;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}


