:root{
    --base-color: #595667;
    --base-color-header: #3A3845;
    --base-color-active: #C69B7B;
    --base-background-color: #F7F6F5;
    --border-color: #E5E5E5;
    --base-color-placeholder: #A6A6A8; 
    --max-width: 1200px;
}

* {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    color: var(--base-color);
    background-color: var(--base-background-color);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 56px;
    line-height: 69px;
    color: var(--base-color-header);
}

h2{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 40px;
    line-height: 49px;
    color: var(--base-color-header);
}

h3{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 29px;
}

.text-reg {
    line-height: 24px;
}

input {
    color: var(--base-color-header);
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 8px;
}

input::placeholder{
    color: #A6A6A8;
    font-family: 'Gilroy-Regular', sans-serif;
}

.container{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #FFFFFF;
    padding: 24px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    width: 183px;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.menu__link {
    font-family: 'Gilroy-Medium', sans-serif;
    color: var(--base-color-header);
    padding: 8px 12px;
}

.menu__link:hover {
    color: var(--base-color-header);
    border-bottom: 1px solid var(--base-color-active);
}

.menu__link:focus {
    color: var(--base-color-active);
    border-bottom: 1px solid var(--base-color-active);
}

.header__search,
.header__action {
    display: flex;
    align-items: center;
}

.header__search {
    gap: 64px;
}

.search-field {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: #ffffff;
    display: flex;
    align-items: center;
}

.search-field:hover {
    border-color: #CAC9CF;
}

.search-field:focus {
    border-color: var(--base-color-active);
}

.search-field:focus path {
    stroke: var(--base-color-header);
}

.header__action {
    gap: 16px;
}

.main{
    margin-top: 64px;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title{
    width: 386px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-bottom: 40px;
}

.main__history,
.main-process,
.main__team,
.main__form {
    margin-bottom: 130px;
}

.main__history{
    display: grid;
    grid-template-columns: 488px 692px;
    grid-template-rows: repeat(2, 340px);
    gap: 20px;
}

.card_small {
    grid-column: 2;
    display: flex;
}

.card {
    background-color: #ffffff;
    border-radius: 4px;
}

.card__body {
    padding: 40px 40px 24px 40px;
}

.card__title {
    margin-bottom: 24px;
}

.card__img {
    display: block;
    height: 491px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.card__body_small {
    padding: 40px 20px 0 40px;
}

.card__img_small {
    height: 340px;
}

.main-process{
    display: flex;
}

.process-description{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 20px;
    gap: 40px;
}

.main-process-texts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-process-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 1240px) {
    .header {
        padding: 24px 16px;
    }
}

@media (max-width: 950px) {
    .menu,
    .header__search,
    .header__action {
        display: none;
    }
}

@media (max-width: 740px) {
    .header {
        padding: 16px;
    }

    .header__logo {
        width: 124px;
    }

    .main__title {
        width: 333px;
    }

    .main__history{
        display: grid;
        grid-template-columns: 328px;
        grid-template-rows: repeat(3, auto);
        gap: 16px;
    }

    .card_small {
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }

    .card__body {
        padding: 16px;
    }
    
    .card__title {
        margin-bottom: 16px;
    }
    
    .card__img {
        height: 200px;
    }

    .text-sb {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 20px;
        line-height: 25px;
    }

    .text-reg {
        font-size: 14px;
        line-height: 21px;
    }
}
