:root{
    --max-width: 1200px;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    color: #3A3845;
    background-color: #F7F6F5;
}

.container{
    max-width: var(--max-width);
    margin: 0 auto;
}

.header-navigation,
.header-search,
.header__search-form,
.header__search-button,
.header__actions,
.header__action-link {
    display: flex;
    align-items: center;
}

.header {
    background-color: #FFFFFF;
    padding: 24px 0;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-navigation{
    gap: calc(var(--max-width) * 0.1);
}

.header__nav {
    display: flex;
    gap: 16px;
}

.header__link {
    text-decoration: none;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #3A3845;
    padding: 8px 12px;
}

.header__link:hover {
    color: #C69B7B;
    text-decoration: underline;
}

.header-search{
    gap: 64px;
}

.header__search-button {
    width: 320px;
    padding: 12px 12px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.header__search-input {
    border: none;
    outline: none;
    margin-left: 8px;
    background-color: transparent;
}
 
input::placeholder{
    color: #A6A6A8;
    font-family: 'Gilroy-Regular', sans-serif;
}

.header__actions {
    gap: 16px;
}

.header__action-link {
    text-decoration: none;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.main{
    margin-top: 64px;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;
}

h1{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 56px;
    line-height: 69px;
}

h2{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
}

h3{
    font-size: 20px;
    line-height: 25px;
}

p{
    line-height: 150%;
}

h1, h2, h3, p{
    margin: 0;
}

.main-title{
    width: 386px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.main-history{
    display: grid;
    grid-template-columns: 488px 692px;
    grid-template-rows: repeat(2, 340px);
    gap: 20px;
}

.history-1{
    grid-row: span 2;
}

.history-1-text{
    padding: 40px 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.history-2, .history-3{
    display: flex;
}

.history-2-text,
.history-3-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 20px 0 40px;
}

.main-process{
    display: flex;
}

.process-description{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 20px;
    gap: 40px;
}

.main-process-texts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-process-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

