:root{
    --base-color: #595667;
    --base-color-header: #3A3845;
    --base-color-active: #C69B7B;
    --base-background-color: #F7F6F5;
    --border-color: #E5E5E5;
    --base-color-placeholder: #A6A6A8; 
    --max-width: 1200px;
    --transition-duration: .3s;
}

* {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    color: var(--base-color);
    background-color: var(--base-background-color);
}

.sb {
    font-family: 'Gilroy-Bold', sans-serif;
    color: var(--base-color-header);
    font-size: 20px;
    line-height: 25px;
}

.text-reg {
    line-height: 24px;
}

.icon {
    width: 24px;
    height: 24px;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: var(--base-color-header);
}

.container{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #FFFFFF;
    padding: 24px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 48px;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu__link {
    padding: 8px 12px;
}

@media (hover: hover) {
    .menu__link:hover {
        color: var(--base-color-header);
        border-bottom: 1px solid var(--base-color-active);
    }    
}

.menu__link:focus {
    color: var(--base-color-active);
    border-bottom: 1px solid var(--base-color-active);
}

.header__menu-img {
    display: none;
    border-radius: 0;
}

.header__search {
    display: flex;
    align-items: center;
}

.header__search {
    gap: 64px;
}

.search-field {
    max-width: 320px;
    padding: 12px;
    border: 1px solid var(--border-color);
    background: #ffffff;
    display: flex;
    align-items: center;
}

@media (hover: hover) {
    .search-field:hover {
        border-color: #CAC9CF;
    }    
}

.search-field:focus {
    border-color: var(--base-color-active);
}

.search-field:focus path {
    stroke: var(--base-color-header);
}

.search-input {
    color: var(--base-color-header);
    margin: 0 8px;
}

.search-input::placeholder {
    color: var(--base-color-placeholder);
    font-family: 'Gilroy-Regular', sans-serif;
}

.header__action {
    display: flex;
    gap: 16px;
}

.header__action-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    margin-top: 64px;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

.main__title_text {
    max-width: 386px;
    text-align: center;
}

.main__history,
.main__process,
.main__team,
.main__form {
    margin-bottom: 130px;
}

.main__history {
    display: grid;
    grid-template-columns: 488px 692px;
    grid-template-rows: repeat(2, 340px);
    gap: 20px;
}

.card_small {
    grid-column: 2;
    display: flex;
}

.card {
    background-color: #ffffff;
    border-radius: 4px;
}

.card__body {
    padding: 40px 40px 24px 40px;
}

.card__title {
    margin-bottom: 24px;
}

.card__img {
    height: 491px;
}

.card__body_small {
    padding: 40px 20px 0 40px;
}

.card__img_small {
    height: 340px;
}

.main__process {
    display: flex;
    align-items: center;
    gap: 20px;
}

.process__img {
    width: 58%;
    height: 380px;
}

.process__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.process__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.process__item_title {
    margin-bottom: 8px;
}

.team__title {
    text-align: center;
    margin-bottom: 40px;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.staff__card_img {
    height: 320px;
}

.staff__card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.staff__card_title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 20px;
    line-height: 24.5px;
    text-align: center;
}

.staff__card_description {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.form {
    width: 100%;
    background-color: #FFFFFF;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form__btn {
    display: flex;
    justify-content: center;
    gap: 21px;
}

.form__primary-m-btn {
    max-width: 183px;
}

.email-field {
    max-width: 386px;
    padding: 16px 0;
    border: 1px solid #807F86;
    transition: outline-color var(--transition-duration);
}

.email-field:focus {
    outline-color: var(--base-color-active);
}

.email-input {
    padding: 0;
    color: var(--base-color);
    line-height: 20px;
}

.email-input::placeholder {
    color: var(--base-color);
    font-family: 'Gilroy-Medium', sans-serif;
}

.footer {
    background-color: var(--base-color-header);
    padding: 40px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
}

.footer__about {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__logo {
    height: 38px;
}

.footer__about-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__about_text {
    width: 304px;
    color: #CAC9CF;
}

.footer__outline-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 102px;
}

.footer__nav_title {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.footer__nav_links {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__nav_link {
    color: #CAC9CF;
}

.footer__copyright {
    width: 100%;
    border-top: 1px solid var(--base-color);
    padding-top: 24px;
}

.footer__copyright_text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

@media (max-width: 1200px) or (max-width: 740px){
    .header, .footer  {
        padding: 16px 16px;
    }

    .main {
        padding: 0 16px;
    }

    .header__menu,
    .header__search {
        display: none;
    }

    .header__menu-img {
        display: block;
    }

    .main__history {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 16px;
    }

    .card_small {
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }

    .card__img {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .card__body_small {
        padding: 40px 40px 24px 40px;
    }
}

@media (max-width: 740px) {
    .main__history,
    .main__process,
    .main__team,
    .main__form {
        margin-bottom: 40px;
    }

    .text-reg {
        font-size: 14px;
        line-height: 21px;
    }

    .link {
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 14px;
        line-height: 17px;
    }    

    .header__logo,
    .footer__logo {
        height: 32px;
    }

    .logo {
        height: 100%;
    }

    .main__title_text {
        width: 333px;
    }

    .card__body {
        padding: 16px;
    }
    
    .card__title {
        margin-bottom: 16px;
    }

    .card__title_sb {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 20px;
        line-height: 25px;
    }
    
    .card__img, .process__img, .staff__card_img {
        height: 200px;
    }

    .main__process {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }
    
    .process__description {
        gap: 24px;
    }

    .process__img {
        width: 100%;
    }

    .title_H2 {
        font-size: 40px;
        line-height: 49px;
    }

    .title_H3 {
        text-align: center;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 24px;
        line-height: 29px;
    }

    .reg {
        font-size: 14px;
        line-height: 17px;
    }

    .process__item_title {
        font-size: 16px;
        line-height: 20px;
    }

    .team__title {
        margin-bottom: 24px;
    }
    
    .staff {
        gap: 16px;
    }

    .staff__card_img {
        width: 156px;
    }
    
    .staff__card_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        margin-top: 8px;
    }

    .staff__card_title {
        font-size: 16px;
        line-height: 20px;
    }

    .staff__card_description {
        font-size: 14px;
        line-height: 17px;
    }

    .sb-mini {
        font-size: 16px;
        line-height: 20px;
    }

    .form {
        width: 100vw;
        padding: 16px 0;
        gap: 16px;
    }
    
    .form__body {
        gap: 8px;
    }

    .form__body_text {
        font-size: 18px;
        line-height: 22px;
    }
    
    .form__btn {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    
    .email-field {
        padding: 12px 0;
        outline: 1px solid var(--border-color);
    }
    
    .email-input {
        color: var(--base-color-header);
    }
    
    .email-input::placeholder {
        color: var(--base-color-header);
        font-family: 'Gilroy-Regular', sans-serif;
    }

    .email-field,
    .form__primary-m-btn {
        max-width: 328px;
    }
    
    .footer__content {
        flex-direction: column;
        gap: 24px;
    }

    .footer__about {
        width: 100%;
        gap: 16px;
    }
    
    .footer__about-body {
        gap: 16px;
    }

    .footer__about_text {
        width: 100%;
    }
    
    .outline-l-btn {
        max-width: 170px;
    }

    .footer__nav {
        gap: 16px 84px;
    }
    
    .footer__nav_title {
        font-size: 16px;
        line-height: 20px;
    }
    
    .footer__nav_links {
        margin-top: 8px;
    }

    .footer__copyright {
        padding-top: 10px;
    }

    .footer__copyright_text {
        font-size: 12px;
        line-height: 15px;
    }
}
